body {
    background-color: #FDFCFD;
    font-family: Lato, sans-serif;
}

div[class*=col-] {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;

    color: #8145B5;

    background-color: #F4F0FE;
    height: 64px;

    border: 1px dashed #D4CAFE;

    border-radius: 4px;
}

.container + .container {
    margin-top: 16px;
}
