@use "sass:map";
@use '../utilities/mixins/breakpoints';
@use '../base/variables';

.container {
    margin-left: auto;
    margin-right: auto;

    @include breakpoints.sm {
        max-width: map.get(variables.$breakpoints, 'sm') - (2 * variables.$gap);
    }

    @include breakpoints.md {
        max-width: map.get(variables.$breakpoints, 'md') - (2 * variables.$gap);
    }

    @include breakpoints.lg {
        max-width: map.get(variables.$breakpoints, 'lg') - (2 * variables.$gap);
    }

    @include breakpoints.xl {
        max-width: map.get(variables.$breakpoints, 'xl') - (2 * variables.$gap);
    }

    @include breakpoints.xxl {
        max-width: map.get(variables.$breakpoints, 'xxl') - (2 * variables.$gap);
    }
}
