@use "../base/variables";
@use "../utilities/mixins/breakpoints";

.d-grid {
    display: grid;
    grid-template-columns: repeat(variables.$columnNumbers, 1fr);
    grid-gap: variables.$gap;

    padding: 0 variables.$gap;

    @include breakpoints.md {
        padding: 0;
    }
}
